<template>
  <div class="greeting">
    <h1>John Powers</h1>
    <pre>
Durham, NC
Email john.powers070@gmail.com
Linkedin https://www.linkedin.com/pub/john-powers/54/35a/46
Github https://www.github.com/jwpowers2

Objective
Contribute my knowledge I have about programming and networking to an organization while being open to learning new skills and technologies
  </pre
    >
  </div>
</template>
<script>
export default {};
</script>
<style scoped>
.greeting {
  text-align: center;
  color: #33ff33;
  width: 100%;
  height: 100%;
}
</style>
