<template>
  <div class="experience">
    <h1>experience</h1>
    <pre>

The Select Group, at Cisco Systems
Software Developer II, greenfield project development (front end)
September 2019 – May 2020
Build front-end features from mock ups
Build reactive dashboard features using data store, routing, nested components
Build responsive, non-standard, data visualizations using D3.js
Build unit testing for multiple components, accommodating data store, API service methods (jest)
Used docker and kubernetes as a developer to deploy front end and back end environments in testing environments
Microsoft VSCode IDE for development on local and remote environments, as well as vim when I needed to, ESLint 

Spottedbot
Developer, Cloud Threat Intelligence web site
January 2019 – August 2019
Gather data from SSH Honeypot (Cowrie) and from diverse Honeypot (Dionaea),
conform the data and geolocate source ip’s, 
send data to Command and Control Server
Command and Control Server uses a Python asynchronous framework called Sanic to accept honeypot data, and process web requests from the Vue.js web application
Command and Control Server saves honeypot data (postgresql) and performs queries from the web dashboard to produce mapping data visualizations (D3.js) and for statistics
The Vue.js UI is a threatmap you can query (for country, city, asn, or ip address) with custom SVG work and using TrieSet algorithm for large autocomplete datasets (city set is > 100,000), use of Vuex Data Store
infrastructure is run in Digital Ocean using systemd for custom services, gunicorn, and nginx as reverse proxy, express.js to run UI server 

AggData
DuPont, WA
Data Mining, Manager
September 2016 – December 2017
Open Data Collection and normalization Engineer using interpreted Java
traffic analysis using knowledge of HTTP in depth, Fiddler traffic analyzer and chrome dev tools 
Use of Regular Expressions to normalize and extract data
Wrote Python code for Proof of Concepts, Web Scraping projects (Scrapy and Postgres, selenium), and Management tools such as cloud-based metrics tools 
Managed 5-person Data Mining team to include formulated week-long training regimen for new engineers, interfaced between management and workers, held daily standup (worked with blockers)

Forsta
Boise, ID
Software Development Intern
March 2016 – August 2016
Python and Bash engineer at startup
Python OOP Development in Agile environment
Web Data Mining using Python Scrapy library into AWS RDS Postgresql DB with multiple relations
Admin for AWS and trained person who replaced me when I left

A10 Networks
San Jose, CA
Network Support Engineer 
August 2014 - July 2015
• troubleshooting and testing solutions for Application Delivery Controllers  replicate customer scenarios in testing environments using scripts written in Python, TCL, Bash, and the use of Spirent Avalanche, HPING, NMAP
• assist customers with Load Balancer Configuration and Network Down scenarios
• Bug ID and reporting
• Performed firmware upgrades in HA environment for customers
• Became proficient with network troubleshooting.   

Astreya Partners
Google Campus Mountainview, CA
January 2014 - July 2014
Audio/Visual Support Technician

Maryland Army National Guard
April 2010 – December 2013
Infantry Squad Leader
leading, mentoring and training a squad of up to 8 soldiers

82nd Airborne Division
March 2004 – March 2010
Airborne Infantry

Certifications
Certified Ethical Hacker (CEH)
Linux Professional Institute Linux Essentials (4/15)

Education
George Washington University: Washington DC (graduated January 2003)
 Latin American Studies (BA)
Anne Arundel Community College (60+ credits)
Information Assurance (AS)
</pre
    >
  </div>
</template>
<script>
import axios from "axios";

export default {
  data() {
    return {
      message:
        "provide the length of all three sides\
      or provide the length of two sides (side one and side two) and the angle\
      where they intersect",
      sideOne: null,
      sideTwo: null,
      sideThree: null,
      angleOfIntersection: null
    };
  },
  methods: {
    submitSides() {
      if (this.sideOne !== null && this.sideTwo !== null) {
        let sideOne = parseInt(this.sideOne);
        let sideTwo = parseInt(this.sideTwo);
        if (this.sideThree === null && this.angleOfIntersection === null) {
          this.message =
            "if side three is not included, you must enter an angle of intersection";
          return;
        } else {
          let sideThree = parseInt(this.sideThree);
          let angleOfIntersection = parseInt(this.angleOfIntersection);
          let data = {
            sideOne: sideOne,
            sideTwo: sideTwo,
            sideThree: sideThree,
            angleOfIntersection: angleOfIntersection
          };
          axios.post("http://127.0.0.1:5000/api/area", data).then(
            response => {
              this.sideOne = null;
              this.sideTwo = null;
              this.sideThree = null;
              this.angleOfIntersection = null;
              this.message = `The area of the triangle is: ${response.data}`;
            },
            error => {
              this.message = error;
            }
          );
        }
      } else {
        this.message = "you must enter the length of at least two sides";
      }
    }
  }
};
</script>
<style scoped>
.experience {
  text-align: center;
  color: #33ff33;
  width: 100%;
  height: 100%;
}
.experience input {
  margin-right: 10px;
  font-size: 1em;
  border-radius: 5px;
}
.message {
  width: 50%;
  height: 30%;
  margin: 0 auto;
}
</style>
