body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Rajdhani',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headlineBox {
  height: "1em"
}
.node.person text {
  font-weight: bold;
  pointer-events: none;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}