<template>
  <div>
    <Header />
    <h1 class="homeGreeting" v-if="isHome">
      <router-link to="/body/bodygreeting"
        ><div id="enterDashboard">Resume</div></router-link
      >
      <br /><br />
      <router-link to="/faq"><div id="aboutMe">About My Site</div></router-link>
    </h1>
    <div class="assessmentbody"><router-view /></div>
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
export default {
  name: "Home",
  components: { Header },
  computed: {
    isHome() {
      if (this.$route.name === "Home") {
        return true;
      } else {
        return false;
      }
    }
  }
};
</script>
<style scoped>
.assessmentbody {
  margin-top: 100px;
}
.homeGreeting {
  margin-top: 200px;
  text-align: center;
}
.homeGreeting a {
  color: black;
}
#enterDashboard {
  height: 2em;
  width: 6em;
  border: 1px solid black;
  margin: 0 auto;
  border-radius: 0.25em;
  padding: 2em;
}
#aboutMe {
  height: 2em;
  width: 6em;
  border: 1px solid black;
  margin: 0 auto;
  border-radius: 0.25em;
  padding: 2em;
}
</style>
